In [184]:
import pandas as pd
import datetime as datetime

In [142]:
securityData = pd.read_csv('iseeData.csv')
index = pd.read_csv('historicalSANDP.csv')

In [143]:
securityData['DATE'] = pd.to_datetime(securityData['DATE'])
index['Date'] = pd.to_datetime(index['Date'])

In [144]:
securityData.head()

,DATE,ALL SECURITIES,10 AVG,20 AVG,50 AVG,ALL EQUITIES,10 AVG.1,20 AVG.1,50 AVG.1,ALL ETFS,10 AVG.2,20 AVG.2,50 AVG.2
0,2006-01-03,149,0,0,0,212,0,0,0,49,0,0,0
1,2006-01-04,180,0,0,0,218,0,0,0,74,0,0,0
2,2006-01-05,195,0,0,0,264,0,0,0,38,0,0,0
3,2006-01-06,144,0,0,0,226,0,0,0,28,0,0,0
4,2006-01-09,188,0,0,0,256,0,0,0,45,0,0,0

In [145]:
index.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2006-01-03,1248.290039,1270.219971,1245.739990,1268.800049,1268.800049,2554570000
1,2006-01-04,1268.800049,1275.369995,1267.739990,1273.459961,1273.459961,2515330000
2,2006-01-05,1273.459961,1276.910034,1270.300049,1273.479980,1273.479980,2433340000
3,2006-01-06,1273.479980,1286.089966,1273.479980,1285.449951,1285.449951,2446560000
4,2006-01-09,1285.449951,1290.780029,1284.819946,1290.150024,1290.150024,2301490000

In [146]:
#adding target variable to s&p data 0 if price goes down 1 if price goes up 
increment = [0] + index['Close'].values.tolist()
index['priceShift'] = increment[:-1] - index['Close'] 
index['target'] = index['priceShift'].apply(lambda x: 0 if x < 0 else 1)

In [147]:
#merging dataframes
index['ISEE All Securities'] = securityData['ALL SECURITIES']
index['ALL EQUITIES'] = securityData['ALL EQUITIES']

In [148]:
from sklearn.linear_model import LogisticRegression

In [149]:
#looking at frequency of two 
frequencies = index['target'].value_counts()

In [150]:
#baseline classifier accuracy
frequencies[0]/frequencies.sum()

0.5433705080545229

In [151]:
model = LogisticRegression()

In [152]:
train = index.iloc[:2000].reset_index(drop=True)

In [153]:
test = index.iloc[2000:].reset_index(drop=True)

In [154]:
features = ['ISEE All Securities', 'ALL EQUITIES']

In [155]:
model.fit(train[features], train['target'])

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [156]:

predictions = model.predict(test[features])

In [157]:
#baseline
freq = test['target'].value_counts()
print(freq[0]/freq.sum())

0.5342019543973942

In [158]:
test['predictions'] = test['target'] == predictions

In [230]:
print('accuracy is')
test['predictions'].value_counts()[True]/len(test)

accuracy is

0.5684039087947883

### getting reddit data

In [202]:
url1 = "https://api.pushshift.io/reddit/search/comment/?subreddit=finance&size=1000"

base = datetime.datetime.today()
dateList = [base - datetime.timedelta(days=x) for x in range(0, 4524)]
dateList = [str(x)[:10] for x in dateList]

In [208]:
secondDateList = dateList[1:]

In [186]:
import requests
r = requests.get(url1)

In [211]:
redditComments = {}
for i in range(0, len(secondDateList)):
    print('going')
    before = dateList[i]
    after = secondDateList[i]
    url = "https://api.pushshift.io/reddit/search/comment/?subreddit=finance&size=1000&before=" + before + '&after=' + after
    r = requests.get(url)
    data = r.json()
    redditComments[before] = data['data']

going
going
going
going

In [221]:
import json

with open('data.json', 'w') as fp:
    json.dump(redditComments, fp)